<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--这里注意  在这句sql外面套一层括号title like concat('%',#{keyword},'%') or summary like concat('%',#{keyword},'%')
并且在前面加上 and   防止在切换到一个话题的情况下进行搜索 搜到了其他话题的内容-->
<!--还需要返回用户昵称头像  连表查-->
<mapper namespace="org.example.mapper.NoteMapper">
    <select id="GetNotesByPage" resultType="org.example.vo.noteAndUser">
        select n.*,u.name,u.avatar from note n left join labflow.user u on n.user_id = u.id
        <where>
            is_deleted = 0
            <if test="topicId != null and topicId != ''">
                and topic_id = #{topicId}
            </if>
            <if test="keyword != null and keyword != ''">
                and (title like concat('%',#{keyword},'%') or summary like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>

<!--    mapper中接收多个参数时 需要指明对象.属性-->
<!--    cover字段  没有封面照片时 数据为'' 所以不能加!=null   开启主键回填-->
    <insert id="publish" useGeneratedKeys="true" keyProperty="newNote.id">
        insert into note
        <set>
            user_id = #{userId},topic_id = #{newNote.topicId},title = #{topicName},content = #{newNote.content}
            <if test="newNote.cover != null">
                ,cover = #{newNote.cover}
            </if>
            <if test="newNote.summary != null and newNote.summary != ''">
                ,summary = #{newNote.summary}
            </if>

        </set>
    </insert>
    <!--    cover字段  没有封面照片时 数据为'' 所以不能加!=null-->
    <update id="editNote">
        update note
        <set>
            topic_id = #{editNote.topicId},content = #{editNote.content},title = #{editNote.title}
            <if test="editNote.cover != null">
                ,cover = #{editNote.cover}
            </if>
            <if test="editNote.summary != null and editNote.summary != ''">
                ,summary = #{editNote.summary}
            </if>
        </set>
        where id = #{noteId}
    </update>

<!--    WHERE n.id IN (?, ?, ?)-->
    <select id="selectNoteAndUserByIds" resultType="org.example.vo.noteAndUser">
        select * from note n left join labflow.user u on n.user_id = u.id
        where n.id in <foreach collection="missingIds" item="id" open="(" separator="," close=")">
        #{id}
    </foreach>
    </select>
</mapper>